<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile card</title>
    <link href="format.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card">
        <h1>Sahand Hajiabadi</h1> <h2>Job:fullstack ai developer</h2>
        <img src="https://cs.stanford.edu/people/karpathy/me2.jpg">
        <p>Sahand Hajiabadi is a curious and ambitious 12-year-old, originally from Isfahan, Iran, and now living in St. John's, Canada. Fluent in both English and Farsi, Sahand is also embracing the challenge of learning French. With a passion for technology, Sahand is diving into programming by learning Python and starting with HTML and CSS. In addition, Sahand is exploring database systems such as PostgreSQL, SQLite, and MySQL, laying the foundation for a strong future in development and data management.</p>
    </div>
</div>

</body>
</html>