* {
    margin: 0;
    padding: 0;
}

body {
    background: #101828;
}

.aside {
    display: flex;

}

.h-screen {
    height: 100vh;
}

.main {
    background: #131827;
    gap:24px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.padding {
    padding: 0;
}

@media screen and (max-width: 770px) {
    .aside {
        display: none;
    }

    .main {
        display: flex;
        padding: 0;
    }
}



