.top{
    background: #131827;
    display: flex;
    flex-direction: row;
    gap:24px;

}
.left-side {
    flex: 1.5;
    display: flex;
    flex-direction: column;

    border:00px solid black;
}
.left-side-top{
    margin-bottom: 24px;
    gap: 24px;
    display: flex;
    flex: 1;

    border:00px solid black;
}
.left-side-bottom{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    flex:1;
    min-height: 225px;
    max-height: 226px;
    border-radius: 1rem;
}
.left-side-top-box{
    border-radius: 1rem;
    min-height: 139px;
    max-height: 140px;
    flex:1;
    /*min-width: 250px;*/
    padding: 24px;
    /*max-width:500px;*/
    border:00px solid black;
}
.chart{
    border-radius: 1rem;
    border: 1px solid black;
    flex:1;
    min-height: 450px;
}
*{
    margin:00px;
    box-sizing: border-box;
}
@media screen and (max-width:770px){
    .top{
        flex-direction: column;
    }
}