.specail-products {
    width: 100%;
    padding: 20;
    display: flex;
    box-sizing: border-box;
    box-shadow: 10px  solid black;
    flex-wrap: wrap;
    background: white;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 5px solid black;
}
.specail-card {
    align-items: center;
    justify-content: center;
    flex: 6;
    box-shadow: 15px solid black;
    min-width: 200px;
    max-width: 200px;
    min-height: 229px;
    max-height: 230px;
    justify-content: center;
    border: 2px solid black;
    background: whitesmoke;
    align-content: center;
    flex-direction: column;
    display: flex;
}
.specail-card img {
    width: 140px;
    height: 140px;
}
@media screen and (max-width:650px){
    .specail-products {
        flex-direction: column;
    }
}