.specail-products {
    padding: 20;
    display: flex;
    box-sizing: border-box;
    box-shadow: 10px;
    flex-wrap: wrap;
    background: white;
    gap: 10px;
}
.specail-card {
    flex: 6;
    box-shadow: 15px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: flex;
}