<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navigation bar</title>
    <style>
    .nav-container a {
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        margin: 5px;
        border: 5px solid gray;
        background: gainsboro;
        width: 20%;
        height: auto;
    }
    .nav-container a:hover {
        background: #9a9a9a;
    }
    @media screen {

    }
    .nav-container {
        text-align: center;

        height: auto;


    }
    </style>
</head>
<body>
    <div class="nav-container">
    <nav><a href="https://www.youtube.com" target="_blank" style="color: red">  home   </a><a href="https://www.python.org/" target="_blank">   about  </a><a href="https://www.python.org/" target="_blank">   contact    </a> <a href="https://www.python.org/" target="_blank">   blog   </a><a href="https://www.python.org/" target="_blank">  calender  </a></nav>
    </div>
</body>
</html>