<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pricing tables</title>
    <style>
        table {
            margin: 150px;
            margin-top: 100px;
        }
        .pro {
            background: gold;
        }
    </style>
</head>
<body>

<table border="1" style="width: 50%;height: 250px">
    <tr>
        <th>rank</th>
        <th>basic</th>
        <th>pro</th>
        <th class="pro">premimume</th>
    </tr>
    <tr>
        <th>features</th>
        <td>no add</td>
        <td>free stuff</td>
        <td class="pro">free games</td>
    </tr>
    <tr>
        <th>price</th>
        <td>0.00</td>
        <td>1.00</td>
        <td class="pro">2.00</td>
    </tr>
    <tr>
        <th>sign up</th>
        <td><button>sign up</button></td>
        <td><button>sign up</button></td>
        <td class="pro"><button class="pro">sign up</button></td>
    </tr>
</table>
</body>
</html>