<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sending_email_to_use</title>
    <style>
        textarea {
            width: 98%;
            resize: none;
            border-radius: 5px;
        }
        button {
            border-radius: 5px;
        }
    </style>
</head>
<body style="background: gray;justify-content: center;align-items: center">
    <div style="background: whitesmoke;left: 40%;top:30%;position: absolute;border: 4px solid whitesmoke;min-height: 320px;min-width: 200px;height: auto;max-width: 300px;width: 20%;border-radius: 20px">
        <h1 style="margin: 20px 0 0 40px;">connect with us</h1>
        <textarea placeholder="your name"></textarea>
        <textarea placeholder="your email"></textarea>
        <textarea placeholder="your topic"></textarea>
        <textarea placeholder="your message" style="height: 60px;padding-bottom: 100px;box-sizing: border-box;"></textarea>
        <button style="background: green;color: white;width: 98%">send</button>
    </div>
</body>
</html>