<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reach out</title>
</head>
<body style="background: snow;justify-content: center;align-items: center">

      <div style="left: 35%;top: 30%;position: absolute;background: white;box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);text-align: center;justify-content: center;
width: 30%;min-height: 300px;height: auto">
          <img style="width: 150px;height: 150px;border-radius: 50%;object-fit: cover" src="https://ds-images.bolavip.com/news/image?src=https://images.bolavip.com/webp/en/full/BUS_20250322_BUS_361400_cristiano-ronaldo-3-1-1024x576_f61ed57c.webp&width=1024&height=576">
          <h1 style="">Sahand Hajiabadi</h1>
          <p>ai dev</p><p>loves coding and thinking</p>
          <div style="display: flex;margin-left: 40%">
          <a href="#" style="color: deepskyblue;text-decoration: none;margin-right: 10px">github</a>
          <a href="#" style="color: deepskyblue;text-decoration: none">email</a>
          </div>

      </div>

</body>
</html>